
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background:
    radial-gradient(circle at top left, #14322B, #07130F 40%);
}

.glass {
  background: rgba(12, 20, 18, 0.75);
  backdrop-filter: blur(18px);
}

.hero-gradient {
  background:
    linear-gradient(
      90deg,
      rgba(6,20,17,0.95) 20%,
      rgba(6,20,17,0.65) 60%,
      rgba(6,20,17,0.25) 100%
    );
}

.card-border {
  border: 1px solid rgba(255,255,255,0.06);
}

.text-gold {
  color: #D9A441;
}

.btn-primary {
  background: #D9A441;
  color: black;
  font-weight: 600;
  transition: 0.3s;
}

.btn-primary:hover {
  opacity: .9;
  transform: translateY(-2px);
}